/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
p,
li,
a {
  font-family: 'Fjalla One', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Anton', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  body {
    max-width: 500px;
  }
}
.top-content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 50rem) {
  .top-content {
    display: flex;
    flex-direction: column;
  }
}
.company-name-info {
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  padding: 2rem;
  align-items: baseline;
}
@media (max-width: 50rem) {
  .company-name-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
}
header {
  background-color: #0E0D0D;
}
nav {
  font-size: 2.3rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
a {
  font-size: 2rem;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 50rem) {
  nav a {
    margin: 0 0 1.5rem 0;
    border-bottom: 2px solid #FFFFFF;
  }
}
.header-info {
  width: 30rem;
  display: flex;
  justify-content: space-around;
  margin-right: -15rem;
}
@media (max-width: 50rem) {
  .header-info {
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-top: -7rem;
    margin-left: -13rem;
    margin-bottom: 3rem;
  }
}
.button {
  background-color: #C84C09;
  padding: 1.2rem;
  border-radius: 2.5rem;
}
.button:hover {
  background-color: grey;
  color: black;
}
.about_heading h1 {
  text-align: center;
  padding: 2rem 0;
}
.about_nav a {
  background-color: orange;
  padding: 1.2rem;
  border-radius: 2.5rem;
  color: white;
}
.about_nav a:hover {
  background-color: grey;
  color: black;
}
footer {
  background-color: #0E0D0D;
  color: #FFFFFF;
}
@media (max-width: 50rem) {
  footer {
    width: 100%;
  }
}
footer address {
  font-size: 1.6rem;
}
.copyright {
  text-align: center;
}
footer h3 {
  padding: 2rem 0;
}
#use-my-tools-info {
  width: 98%;
  margin: auto;
}
#contact-info {
  width: 98%;
  margin: auto;
}
@media (max-width: 50rem) {
  #use-my-tools-info h3 {
    text-align: center;
  }
}
@media (max-width: 50rem) {
  #use-my-tools-info p {
    text-align: center;
    padding: 0 2rem 0 2rem;
  }
}
@media (max-width: 50rem) {
  #contact-info {
    text-align: center;
  }
}
.about_footer {
  padding: 4rem;
  text-align: center;
}
body {
  width: 1000px;
  font-family: 'Anton', 'Fjalla One';
  color: #FFFFFF;
}
@media (max-width: 50rem) {
  body {
    width: 99%;
    margin: auto;
  }
}
main {
  background-color: #6B686C;
}
.company-info {
  display: flex;
  padding: 3rem;
}
@media (max-width: 50rem) {
  .company-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.company-info p {
  width: 30%;
  padding: 1.5rem 0 0 1.5rem;
}
@media (max-width: 50rem) {
  .company-info p {
    width: 100%;
  }
}
.tool-rack-img img {
  width: 70rem;
  height: 30rem;
  border-radius: 3rem;
}
.how-we-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #C84C09;
  border-radius: 5rem;
  margin: 0 3rem 3rem 3rem;
  border: 0.2rem solid #0E0D0D;
}
.how-we-work h2 {
  color: #0E0D0D;
}
@media (max-width: 50rem) {
  .how-we-work h2 {
    text-align: center;
  }
}
.how-we-work li {
  font-size: 1.6rem;
  list-style-type: square;
  padding: 1.2rem;
}
.user-type h3 {
  text-align: center;
  color: #0E0D0D;
}
.user-benefits {
  display: flex;
  justify-content: space-between;
  margin: 0 0 3rem 1rem;
}
.user-benefits h3 {
  color: #0E0D0D;
}
.renter {
  padding: 3rem;
  background-color: #C84C09;
  border-radius: 5rem;
  margin: 2rem;
  border: 0.2rem solid #0E0D0D;
}
.lender {
  padding: 3rem;
  background-color: #C84C09;
  border-radius: 5rem;
  margin: 2rem;
  border: 0.2rem solid #0E0D0D;
}
.featured-tools h3 {
  text-align: center;
  padding: 3rem 0;
  color: #0E0D0D;
}
.selected-tools img {
  width: 30rem;
  height: 30rem;
}
.top-tools {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0;
}
@media (max-width: 50rem) {
  .top-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bottom-tools {
  display: flex;
  justify-content: space-around;
  margin: 0 0 3rem 0;
}
@media (max-width: 50rem) {
  .bottom-tools {
    display: none;
  }
}
.tool {
  width: 42rem;
  background-color: #C84C09;
  padding: 0 0 0 6rem;
  border-radius: 3rem;
  border: 0.2rem solid #0E0D0D;
}
@media (max-width: 50rem) {
  .tool {
    margin: 0 0 2rem 0;
  }
}
.user-feedback {
  background-color: #C84C09;
  border-radius: 5rem;
  margin: auto;
  width: 80%;
  border: 0.2rem solid #0E0D0D;
}
@media (max-width: 50rem) {
  .user-feedback {
    margin: auto;
  }
}
.user-feedback h3 {
  text-align: center;
  margin: 3rem 0;
  color: #0E0D0D;
}
.user-feedback p {
  border-radius: 3rem;
  width: 80%;
  margin: auto;
}
.about_us_img img {
  width: 100%;
  height: 50rem;
}
.mission {
  display: flex;
  flex-direction: column;
  margin: -47rem 0 0 5rem;
  width: 90%;
  height: 46rem;
  font-weight: bold;
}
#team_members {
  padding: 3rem 0;
}
#team_members img {
  width: 20rem;
  height: 20rem;
  border-radius: 5rem;
}
.top {
  display: flex;
  justify-content: space-around;
  margin: 0 0 4rem 0;
}
.bottom {
  display: flex;
  justify-content: space-around;
}
#team_members .git_img {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}
