footer{
    background-color: #0E0D0D;
    color: white;
}

@media(max-width: 50rem){
    footer{
        width:100%;
    }
}

footer address{
    font-size: 1.6rem;
}

.copyright{
    text-align: center;
}

footer h3{
    padding: 2rem 0;
}

@media(max-width:50rem){
    #use-my-tools-info h3{
        text-align: center;
    }
}

@media(max-width:50rem){
    #use-my-tools-info p{
        text-align: center;
        padding: 0 2rem 0 2rem;
    }
}

@media(max-width:50rem){
    #contact-info {
        text-align: center;
    }
}