footer{
    background-color: @headerColor;
    color: @textContentColor;
}

@media @mobile{
    footer{
        width:100%;
    }
}

footer address{
    font-size: 1.6rem;
}

.copyright{
    text-align: center;
}

footer h3{
    padding: 2rem 0;
}

#use-my-tools-info{
    width: 98%;
    margin: auto;
}

#contact-info{
    width: 98%;
    margin: auto;
}

@media @mobile{
    #use-my-tools-info h3{
        text-align: center;
    }
}

@media @mobile{
    #use-my-tools-info p{
        text-align: center;
        padding: 0 2rem 0 2rem;
    }
}

@media @mobile{
    #contact-info {
        text-align: center;
    }
}

//about page

.about_footer{
    padding: 4rem;
    text-align: center;
}