body {
    width: 1000px;
    font-family: 'Anton', 'Fjalla One';
    color: @textContentColor;
}

@media @mobile{
    body{
        width: 99%;
        margin: auto;
    }
}
    main {
        background-color: @bodyBackColor;
    }

    .company-info{
        display: flex;
        padding: 3rem;
    }

    @media @mobile{
        .company-info{
            .titledContent();
            width: 100%;
        }
    }
    
    .company-info p{
        width: 30%;
        padding: 1.5rem 0 0 1.5rem;
    }

    @media @mobile{
        .company-info p{
            width: 100%;
        }
    }
    
    .tool-rack-img img{
        width: 70rem;
        height: 30rem;
        border-radius: 3rem;
    }
    
    .how-we-work{
        .titledContent();
        align-items: center;
        padding: 3rem;
        background-color: @cardColor;
        border-radius: 5rem;
        margin: 0 3rem 3rem 3rem;
        border: 0.2rem solid @headerColor;
    }
    
    .how-we-work h2{
        color: @headerColor;
    }

    @media @mobile{
        .how-we-work h2{
            text-align: center;
        }
    }
    
    .how-we-work li{
        font-size: 1.6rem;
        list-style-type: square;
        padding: 1.2rem;
    }
    
    .user-type h3{
        text-align: center;
        color: @headerColor;
    }
    
    .user-benefits{
        display: flex;
        justify-content: space-between;
        margin: 0 0 3rem 1rem;
    }
    
    .user-benefits h3{
        color: @headerColor;
    }
    
    .renter{
      .cardFormat();
    }
    
    .lender{
      .cardFormat();
    }
    
    .featured-tools h3{
        text-align: center;
        padding: 3rem 0;
        color: @headerColor;
    }
    
    .selected-tools img{
        width: 30rem;
        height: 30rem;
    }
    
    .top-tools{
        display: flex;
        justify-content: space-around;
        padding: 2.5rem 0;
    }

    @media @mobile{
        .top-tools{
            .titledContent();
            align-items: center;
        }
    }
    
    .bottom-tools{
        display: flex;
        justify-content: space-around;
        margin: 0 0 3rem 0;
    }

    @media @mobile{
        .bottom-tools{
            display: none;
        }
    }
    
    .tool{
        width: 42rem;
        background-color: @cardColor;
        padding: 0 0 0 6rem;
        border-radius: 3rem;
        border: 0.2rem solid @headerColor;
    }

    @media @mobile{
        .tool{
           margin: 0 0 2rem 0;
        }
    }
    
    .user-feedback{
        background-color: @cardColor;
        border-radius: 5rem;
        margin:auto;
        width: 80%;
        border: 0.2rem solid @headerColor;
    }

    @media @mobile{
        .user-feedback{
            margin:auto;
        }
    }
    
    .user-feedback h3{
        text-align: center;
        margin: 3rem 0;
        color: @headerColor;
    }
    
    .user-feedback p{
        border-radius: 3rem;
        width: 80%;
        margin:auto;
    }


    //about us page
     .about_us_img img {
        width: 100%;
       height: 50rem;
   }

   .mission{
       display: flex;
       flex-direction: column;
       margin: -47rem 0 0 5rem;
       width: 90%;
       height: 46rem; 
       font-weight: bold;
   }

   //Meet the team

#team_members{
    padding: 3rem 0;
}

   #team_members img{
        width: 20rem;
        height: 20rem;
        border-radius: 5rem;
   }

   .top{
       display: flex;
       justify-content: space-around;
       margin: 0 0 4rem 0;
   }

   .bottom{
    display: flex;
    justify-content: space-around;
}

#team_members .git_img{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items:center;
}




   





