body {
    width: 1000px;
    
}

main {
    background-color: #6B686C;
}

.tool-rack-img img{
    width: 70rem;
    height: 30rem;
}

.how-we-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.how-we-work li{
    font-size: 1.6rem;
    list-style-type: square;
}

.user-type h3{
    text-align: center;
}

.user-benefits{
    display: flex;
    margin: 0 0 3rem 1rem;
    justify-content: space-between;
}







