.titledContent(){
    display: flex;
    flex-direction: column;
}

.cardFormat(){
    padding: 3rem;
    background-color: @cardColor;
    border-radius: 5rem;
    margin: 2rem;
    border: 0.2rem solid @headerColor;
}