.top-content{
    display: flex;
    flex-direction: column;
}    

@media(max-width: 50rem){
    .top-content{
        .titledContent();
    }
}

.company-name-info{
    display: flex;
    justify-content: space-around;
    color: @textContentColor;
    padding: 2rem;
    align-items: baseline;
}

@media(max-width: 50rem){
    .company-name-info{
        .titledContent();
        align-items: center;
        margin-top: 2rem;
    }
}

header {
    background-color: @headerColor;
}

nav {
    font-size: 2.3rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

@media(max-width:500px){
    nav {
        .titledContent();
        align-items: center;
    }
}

a {
    font-size: 2rem;
    text-decoration: none;
    color:  @textContentColor;
}

@media(max-width:50rem){
    nav a{
        margin: 0 0 1.5rem 0;
        border-bottom: 2px solid @textContentColor;
    }
}

.header-info{
    width: 30rem;
    display: flex;
    justify-content: space-around;
    margin-right: -15rem;
}

@media(max-width:50rem){
    .header-info{
        display: flex;
        justify-content: space-between;
        width:99%;
        margin-top: -7rem;
        margin-left: -13rem;
        margin-bottom: 3rem;
    }
}

.button{
    background-color: @cardColor;
    padding: 1.2rem;
    border-radius: 2.5rem;
    // cursor: pointer;
}

.button:hover{
    background-color: grey;
    color: black;
  }

