.top-content{
    display: flex;
    flex-direction: column;
}    

@media(max-width: 50rem){
    .top-content{
    display: flex;
    flex-direction: column;
    }
}

.company-name-info{
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 2rem;
    align-items: baseline;
}

@media(max-width: 50rem){
    .company-name-info{
        display: flex;
        flex-direction: column;
    }
}

header {
    background-color: black;
}

nav {
    font-size: 2.3rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

@media(max-width:500px){
    nav {
        display: flex;
        flex-direction: column;
    }
}

a {
    font-size: 2rem;
    text-decoration: none;
    color:  white;
}

.header-info{
    width: 30rem;
    display: flex;
    justify-content: space-around;
    margin-right: -15rem;
}

@media(max-width:50rem){
    .header-info{
        display:none;
    }
}



